
#search-header input{
    font-size: 24px;
    margin: 15px;
}
#image-grid {
    /* box-sizing: border-box; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
}
